<!DOCTYPE html>
	<html>
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='mom.css') }}" />
		<head>
			<title>Michele Riesco Ambrioso</title>
		</head>
		<body>

			<div class="container">	
				<h1>Michele Riesco Ambrioso</h1>
				<img src="{{ url_for('static', filename='mom_with_kids.jpg') }}" width="200" />
			
				<p>
				Michele Ambrioso was born in Cuba on December 14, 1936 to Angel and Miraflor Riesco.   She married Erasmo Ambrioso in 1958.  They left Cuba in 1960 just after the Cuban Revolution.  The couple hoped for better life in the United States for themselves and the child they were expecting.
				</p>

				<p>
				Here is a summary of what she achieved during her lifetime.  She was an amateur musician with extraordinary skill at reading music and playing the piano.  She completed the program for training young musicians at Cuba’s national musical conservatory.   This involved 8 years of training beginning in elementary school.  Not only could she play classical music at a high level but she could also listen to a tune, work out an arrangement by ear, and play it.  The love of muscic supported her throughout the years.
				</p>  

				<p>
				She eventually became a citizen of the United States.  Her family grew to include three children.  As she raised these children and managed a home, she slowly and with steady effort worked on a Bachelor’s degree.  She began at Hillsborough Community College and continued on to the University of South Florida where she earned her Bachelor's degree in Psychology.   The degree led to a career in social work as mental health technician.   Through this career she was able to support herself after her divorce until her to retirement.  All of her children have raised their own families and had long successful careers.
				</p>

				<p>
				She is survived by her brother Angel Riesco, her ex-husband, Erasmo, her two sons, Alex and Víctor, her daughter Valerie, and seven grandchildren: Troy, Kyra, Anthony, Erika, James, Joseph, Ellie, and her dog Gavilan.
				</p>

				<p>
				For Angel and Miraflor:
				Listen to us dear grandparents separated from your daughter for a long while.  
				Today we bring you back your cherished child.
				</p>

				<p>
				For Mom:
				We are here for a while and then we’re gone.
				All we can hope is to leave the world a little better - Rest In Peace, Mom.
				</p>
		</div>
	</body>	
</html>